[submodule "material_fase01/pos-datascience-analise-e-exploracao-de-dados"]
	path = material_fase01/pos-datascience-analise-e-exploracao-de-dados
	url = https://github.com/carlosvneves/alura_postech.git
